body {
    background: $white;
}

.main {

    &__section {
        background: $lightBlue;
        display: flex;
        max-width: 1200px;
        margin: 2rem auto;
        width: 60vw;
        gap: 0;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        border-radius: .5rem;

        @include phone {
            width: auto;
        }
    }

    &__image-section {
        width: 100%;

        @include phone {
            display: none;
        }

        @include notebook {
            display: none;
        }
        
        img {
            width: 100%;
        }
    }

    &__center {
        width: 100%;
    }

    &__question {
        margin: 2rem;

        &.show-text {
            transition: all 1s linear;

            .main__minus-icon {
                display: inline;
            }

            .main__plus-icon {
                display: none;
            }

            .main__question-text {
                display: block;
            }
        }

        @include phone {
            margin: 2rem 0 2rem 1rem;
            align-items: normal;
        }

        @include notebook {
            margin: 2rem 0 2rem 1rem;
            align-items: normal;
        }
    }

    &__question-title {
        display: flex;
        align-items: center;
        margin-bottom: .5rem;
    }

    &__button-question {
        background: none;
        border: none;
        font-size: 20px;
        color: $blue-two;
        cursor: pointer;
        transition: .4s;
        margin-left: 1.4rem;

        &:hover {
            transform: rotate(90deg);
        }
    }

    &__minus-icon {
        display: none;
    }

    &__question-text {
        display: none;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        
        p {
            margin: 1rem 0;

            @include phone {
                width: 75%;
            }

            @include notebook {
                width: 75%;
            }
        }
    }
}