.main {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    &__welcome {
        display: flex;
        align-items: center;
        background-color: $darkBlue;
        color: $lightGreen;
        padding: 2rem;
        border-radius: .75rem;
        margin: 1rem;

        @include phone {
            flex-direction: column;
        }

        @include notebook {
            flex-direction: column;
        }

        &-text {
            display: flex;
            flex-wrap: wrap;
            margin: 1rem;
            line-height: 2;
            font-weight: bold;
        }
    }

    &__h2 {
        width: 75%;

        @include phone {
            width: 100%;
        }

        @include notebook {
            width: 100%;
        }
    }

    &__img {
        @include phone {
            display: none;
        }

        @include notebook {
            display: none;
        }
    }

    &__form {
        background-color: $darkBlue-two;
        width: 50%;
        border-radius: .75rem;
        padding: 1rem;
        box-shadow: 0 10px 40px #00000056;

        &-info {
            display: flex;
            flex-direction: column;
            color: $lightPurple;
            padding: .5rem;

            h2 {
                text-align: center;
                text-transform: uppercase;
                color: $green;
                font-weight: bold;
            }
        }

        @include phone {
            width: 100%;
        }
    }
    
    &__label {
        margin: 1rem 0;
        color: $lightGreen;
    }

    &__input {
        background-color: $purple;
        color: $white;
        border: none;
        border-radius: .25rem;
        padding: .5rem;

        &::placeholder {
            font-size: .875rem;
        }
    }

    &__eye {
        display: flex;
        width: 2rem;
        align-self: flex-end;
        cursor: pointer;
        margin-top: -2rem;
        margin-right: .5rem;
    }

    &__already {
        text-align: center;

        p {
            font-size: .875rem;
            color: $white;
        }
    }

    &__link {
        color: $lightGreen;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}