@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;500;700&display=swap');

$fontJosefin: 'Josefin Sans', sans-serif;
$fontNotoSans: 'Noto Sans', sans-serif;

$darkBlue: #201B2C;
$darkBlue-two: #2F2841;
$lightGreen: #77FFC0;
$green: #00FF88;
$darkGreen: #49AA26;
$white: #FFFFFF;
$gray: #999999;
$lightGray: #D9D9D9;
$lightPurple: #867D98;
$purple: #514869;
$transparent: #FFFFFF1A;
$red: #FF0000;
$blue: #0000FF;
$blue-two: #407BFF;
$lightBlue: #C5D8FD;
$orange: #F97316;


@mixin phone {
    @media (min-width: 375px) and (max-width: 639.99px) { @content; }
}

@mixin notebook {
    @media (min-width: 640px) and (max-width: 1200px) { @content; }
}